<div id="<%= dom_id email_template %>">
  <p>
    <strong>Name:</strong>
    <%= email_template.name %>
  </p>

  <p>
    <strong>Label:</strong>
    <%= email_template.label %>
  </p>

  <p>
    <strong>Body:</strong>
    <article>
      <%= email_template.body.html_safe %>
    </article>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= email_template.subject %>
  </p>

  <p>
    <strong>Custom fields:</strong>
    <article>
      <%= email_template.custom_fields %>
    </article>
  </p>

</div>
