<%= form_with(model: email_template) do |form| %>
  <% if email_template.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(email_template.errors.count, "error") %> prohibited this email_template from being saved:</h2>

      <ul>
        <% email_template.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :label, style: "display: block" %>
    <%= form.text_field :label %>
  </div>

  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.text_area :body, class: "tinymce", rows: 20  %>
  </div>

  <div>
    <%= form.label :subject, style: "display: block" %>
    <%= form.text_field :subject %>
  </div>

  <div>
    <%= form.label :custom_fields, style: "display: block" %>
    <%= form.text_field :custom_fields %>
  </div>

  <div>
    <%= form.submit %>
  </div>
  <%= tinymce %>
<% end %>
